* {
  margin: 0;
  padding: 0;
  border-width: 0;
}

.container {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blue_circle {
  display: flex;
  background-color: rgba(38, 182, 227, 1);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: #26b6e3;
  box-shadow: 0px 0px 40px rgba(38, 182, 227, 1);
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: 400;
  color: white;
  font-family: Poppins;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transform: translateY(50px);
}

.blue_circle:hover {
  box-shadow: 0px 0px 80px rgba(38, 182, 227, 1);
}

.text_result {
  font-family: Poppins;
  font-weight: 400;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #26b6e3;
}

@media (max-width: 700px) {
  .blue_circle {
    width: 300px;
    height: 300px;
    font-size: 45px;
  }
  .text_result {
    font-size: 45px;
  }
}
